@model NorthWest.Models.TestTube

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TestTube</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sample.SampleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sample.SampleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Test.TestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test.TestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestTubeNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestTubeNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TechID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMaterialCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMaterialCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HourlyWage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourlyWage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pass_Fail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pass_Fail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TestTubeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
