@model IEnumerable<NorthWest.Models.Invoice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrder.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrder.Customer.CustName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrder.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarlyPmtDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarlyPmtDiscount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SentAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if(item.WorkOrder.CustomerID == ViewBag.CustID)
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrder.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrder.Customer.CustName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrder.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EarlyPmtDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EarlyPmtDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SentAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.ActionLink("View Detail", "OrderAssayList", new { id = item.OrderID }) |
            </td>
        </tr>
        }
    }

</table>
