@model IEnumerable<NorthWest.Models.WorkOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountApplied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deposit)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if(item.CustomerID == ViewBag.custID)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountApplied)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deposit)
                </td>
                <td>
                    @Html.ActionLink("View Status", "TrackOrderTransfer", new { id = item.OrderID }) |
                </td>
            </tr>
        }
    }

</table>
