@model NorthWest.Models.Sample

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sample</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assay.AssayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assay.AssayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrder.PaymentInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrder.PaymentInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LTNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LTNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeqCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeqCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SampleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SampleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateArrived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateArrived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Appearance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appearance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeightByClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeightByClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MolMass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MolMass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmationDTTM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmationDTTM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MTD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MTD)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SampleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
